# --- Cartelle specifiche del tuo progetto ---
.venv/
venv/
ENV/
Data/
data/
debug/
runs/ 

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Jupyter Notebook ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Ambiente e Variabili ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- OS (Sistema Operativo) ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE (VS Code, PyCharm, etc.) ---
.vscode/
.idea/
*.swp
*.swo

*.pt 
